#topMenu {
    -webkit-app-region: drag;
    user-select: none;
    -webkit-user-select: none;
    margin-left: 225px;
}

#topMenuBtns {
    position: absolute;
    right: 5px;
    
}
.topMenuBtn {
    border: none;
    outline: none;
    background: transparent;
    color: #2980b9;
    transition: all ease-in-out .2s;
    width: 40px;
    -webkit-app-region: no-drag;
}

#reduceBtn:hover, #sizeBtn:hover {
    background-color: #333333;
}

#closeBtn:hover {
    background-color: #FF0000;
}

#BOD {
    padding-bottom: 50px;
    padding-left: 250px;
    padding-top: 50px;
}


@media screen and (max-width : 768px) {
    #BOD {
        padding-left: 130px;
    }
    #topMenu {
        margin-left: 105px;
    }
}

@media screen and (max-width : 496px) {
    #BOD {
        padding-left: 30px;
    }
    #topMenu {
        margin-left: 0px;
    }
    
}
