#topMenu {
    -webkit-app-region: drag;
    user-select: none;
    -webkit-user-select: none;
    margin-left: 225px;
}

#topMenuBtns {
    position: absolute;
    right: 5px;
    
}
.topMenuBtn {
    border: none;
    outline: none;
    background: transparent;
    color: #2980b9;
    transition: all ease-in-out .2s;
    width: 40px;
    -webkit-app-region: no-drag;
}

#reduceBtn:hover, #sizeBtn:hover {
    background-color: #333333;
}

#closeBtn:hover {
    background-color: #FF0000;
}

#BOD {
    padding-bottom: 50px;
    padding-left: 250px;
    padding-top: 50px;
}


@media screen and (max-width : 768px) {
    #BOD {
        padding-left: 130px;
    }
    #topMenu {
        margin-left: 105px;
    }
}

@media screen and (max-width : 496px) {
    #BOD {
        padding-left: 30px;
    }
    #topMenu {
        margin-left: 0px;
    }
    
}



/* Hide scrollbar for Chrome, Safari and Opera */
::-webkit-scrollbar {
    display: none;
  }
  
  /* Hide scrollbar for IE, Edge and Firefox */
  .example {
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
  }


  .info-box {
    box-shadow: 0 0 1px rgb(0 0 0 / 13%), 0 1px 3px rgb(0 0 0 / 20%);
    border-radius: 0.25rem;
    display: flex;
    margin-bottom: 1rem;
    min-height: 80px;
    padding: 0.5rem;
    position: relative;
    width: 100%;
}
.bg-warning, .dark-mode .bg-warning > a {
    color: #1f2d3d !important;
}
.bg-warning {
    background-color: #fff !important;
}
.bg-gradient-info {
    background-color: #fff !important;
    color: #1f2d3d;
}

.bg-gradient-info {
    background-color: #fff !important;
    color: #1f2d3d;
}

.info-box {
    background-color: #fff !important;
    color: #1f2d3d;
}

.dark-mode .bg-gradient-info {
    background-color: #fff !important;
    color: #1f2d3d;
}

.info-box .info-box-icon {
    border-radius: 0.25rem;
    align-items: center;
    display: flex;
    font-size: 1.875rem;
    justify-content: center;
    text-align: center;
    width: 70px;
}

.info-box {
    background-color: #343a40;
}

.info-box .info-box-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    line-height: 1.8;
    flex: 1;
    padding: 0 10px;
}

.info-box .progress-description, .info-box .info-box-text {
    display: block;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.info-box .info-box-number {
    display: block;
    margin-top: 0.25rem;
    font-weight: 700;
}